<.form :let={f} for={@changeset} action={@action} data-turbo-frame="_top">
  <.input field={f[:content]} type="text" />
  <footer>
    <.button variant="primary">Save Message</.button>
  </footer>
</.form>
