<Layouts.app flash={@flash}>
  <.header>
    New Message
    <:subtitle>Use this form to manage message records in your database.</:subtitle>
  </.header>

  <.turbo_frame id="new-message">
    <.message_form changeset={@changeset} action={~p"/rooms/#{@changeset.changes.room_id}/messages"} />
  </.turbo_frame>
</Layouts.app>
