<Layouts.app flash={@flash}>
  <.header>
    Edit Room {@room.id}
    <:subtitle>Use this form to manage room records in your database.</:subtitle>
  </.header>

  <.room_form changeset={@changeset} action={~p"/rooms/#{@room}"} return_to={~p"/rooms"} />
</Layouts.app>
