<Layouts.app flash={@flash}>
  <.header>
    {@room.name}
    <:subtitle>This is a room record from your database.</:subtitle>
    <:actions>
      <.button navigate={~p"/rooms"}>
        <.icon name="hero-arrow-left" />
      </.button>
      <.button variant="primary" navigate={~p"/rooms/#{@room}/edit?return_to=show"}>
        <.icon name="hero-pencil-square" /> Edit room
      </.button>
    </:actions>
  </.header>

  <.room_messages room={@room} />
</Layouts.app>
